*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
nav{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.logo-wrapper{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 150px;
}
.anchor-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
}
.anchor-wrapper > a{
    text-decoration: none;
    color: black;
}
.anchor-wrapper > a:hover{
    color: #F90093;
}
.button-wrapper{
    display: flex;
    flex-flow: row nowrap;
}
.login{
    width: 150px;
    display: grid;
    place-items: center;
    padding: 5px;
    background-color: #F90093;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}
.login:hover{
    background-color: #C60F7B;
}
.button-wrapper button{
    padding: 0 10px;
    background: none;
    border: none;
    color: #F90093;
    font-size: 2rem;
    cursor: pointer;
}
.button-wrapper button:hover{
    color: #C60F7B;
}
.hide-on-desktop{
    display: none;
}
@media (max-width: 800px) {
    .hide-on-desktop{
        display: block;
    }
    .anchor-wrapper{
        display: none;
    }
}
